{
  "rules": {
    "slotLocks": {
      ".read":  true,
      ".write": true
    },

    "bookings": {
      ".read":  "auth != null",
      ".indexOn": ["criadoEm"],

      "$bookingId": {
        ".write": "auth != null || !data.exists()",
        ".validate": "newData.hasChildren(['unidadeSlug','servicoId','servicoNome','dataSelecionada','horaSelecionada','nomeCliente','telefoneCliente','status'])"
      }
    },

    "config": {
      ".read":  true,
      ".write": "auth != null"
    }
  }
}
